@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #009FB7;
    font-family: 'Jost', sans-serif;
}

.title {
    font-size: 60px;
    padding: 30px;
    color: #F4F4F8;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 1);
}

.gameboard-container {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

.gameboard {
    min-height: 300px;
    min-width: 300px;
    height: 45vw;
    width: 45vw;
    background-color: #FE4A49;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 70px;
    color: #FE4A49;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 16px 18px 34px -17px rgba(0, 0, 0, 0.75);
    margin-left: 10px;
    margin-right: 10px;
}

.score-container {
    border: solid #FE4A49 3px;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FE4A49;
    cursor: default;
    overflow: hidden;
    min-width: 90px;
    width: 16%;
    background-color: #F4F4F8;
    text-transform: uppercase;
    box-shadow: 16px 18px 34px -17px rgba(0, 0, 0, 0.75);
}

.score-num {
    font-size: 70px;
    background-color: rgba(254, 73, 73, 0.849);
    height: 60%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    border-radius: 10px;
    box-shadow: inset -9px -10px 52px -21px rgba(0, 0, 0, 0.75);
    color: #F4F4F8;
}

.button-container {
    margin: 20px;
    display: flex;
    width: 160px;
    justify-content: space-evenly;
}

.buttons {
    height: 50px;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #F4F4F8;
    border: solid #FE4A49 3px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.buttons:hover {
    transform: scale(1.1);
    background-color: #F4F4F8;
    color: #FE4A49;
    border-color: #F4F4F8;
}

.square {
    padding: 10px;
    background-color: #F4F4F8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    opacity: 0.6;
}

/* modal content  */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    width: 350px;
    height: 360px;
    background-color: #F4F4F8;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.name-container {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.name-container input {
    height: 30px;
    width: 190px
}

.left {
    margin: 15px;
}

.form {
    margin: 30px 20px 0px 20px;
}

.game-setup-title {
    margin-top: 50px;
    font-size: 20px;
}

.player-two-container {
    display: none;
}

.start-button {
    width: 30%;
    height: 30px;
    border-radius: 2px;
    margin: 0 auto;
}

.winning-row {
    opacity: 0.6;
}

/* Winning text modal */

.winner-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
    flex-direction: column;
}

.winner-modal-text {
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
    color: white;
    width: 60%;
    display: flex;
    justify-content: center;
}

.growAndShrink{
    animation: 1s ease-in 0.5s 1 growAndShrink forwards;
}

@keyframes growAndShrink {
    0% {
        
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
       
        transform: scale(1);
    }
}

.winner-modal-buttons {
    height: 50px;
    width: 70px;
    background-color: #F4F4F8;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #FE4A49;
    border: solid #F4F4F8 3px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 5px;
}

.winner-modal-buttons:hover {
    transform: scale(1.2);
    border-color: #FE4A49;
}